@import 'base/variables';

* {
    font-family: 'Museo Sans Cyrl', sans-serif;
    box-sizing: border-box;
}

.container {
    max-width: 950px;
    margin: 0 auto;

}

@import 'base/mixins';
@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/titles';
@import 'base/media';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/reviews';
@import 'blocks/footer';